spring:
  application:
    name: petstorepetservice
  datasource:
    url: jdbc:postgresql://msazdevetstoredb.postgres.database.azure.com:5432/postgres
    username: postgres
    password: ${PETSTOREAZPGDBPWD}
    driver-class-name: org.postgresql.Driver
  jpa:
      hibernate:
        ddl-auto: none   # Use 'none' if tables already exist, or 'update' if you want Hibernate to manage schema
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: ${PETSTOREPETSERVICE_SERVER_PORT:8080}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  show-actuator: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    ssl:
      enabled: false
    diskspace:
      enabled: false